.container{
  display: flex;
  justify-content: center;
}
.forum-name{
  color: var(--dark-color);
}
#category-list{
  width: 800px;
}
.forum-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.forum-item {
  display: flex;
  justify-content: space-between;
}
.forum-num {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  grid-gap: 5rem;
  margin-right: 2rem;
}
.forums-text {
  text-align: center;
}
