.container{
  display: flex;
  justify-content: center;
}
.forum-name{
  color: var(--dark-color);
}
#category-list{
  width: 800px;
}
.forum-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
