@import "utils.css";
/*Navbar*/
#main-nav {
  background: var(--dark-color);
   position: sticky;
  top: 0;
  z-index: 2;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 5fr;
  padding: 1rem;
  align-items: center;
}
