@import "utils.css";
/*Navbar*/
#main-nav {
  background: var(--dark-color);
   position: sticky;
  top: 0;
  z-index: 2;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 5fr;
  padding: 1rem;
  align-items: center;
}
#nav-list-right {
  justify-self: end;
  display: flex;
}
#nav-list-left {
  justify-self: start;
  display: flex;
}
#main-nav ul li a {
  padding: 0.75rem;
  margin-right: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
#main-nav ul li a.current {
  background: var(--error-color);
  color: var(--background-color);
}
#main-nav ul li a:hover {
  background: var(--background-color);
  color: var(--dark-color);
  transition: all 0.5s ease-in;
}
