<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link id="stylesheetMain" type="text/css" rel="stylesheet" href="../../static/css/home.css" />
    <link id="stylesheetUtils" type="text/css" rel="stylesheet" href="../../static/css/utils.css" />
    <link id="stylesheetNavbar" type="text/css" rel="stylesheet" href="../../static/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Staatliches"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>

  </body>
</html>
